<div class="main-container">
  <div class="first-sub-main-container">
    <div class="city-box"></div>
    <div class="today-box"></div>
    <div class="today-forecast-box"></div>
    <div class="weather-today-box"></div>
    <div class="hourly-forecast-box"></div>
    <div class="don't-box"></div>
    <div class="daily-forecast-box"></div>
    <div class="radar-box"></div>
    <div class="photo-gallery-box"></div>
    <div class="recommended-box"></div>
  </div>
  <div class="second-sub-main-container">
    <div class="catch-some-color"></div>
    <div class="safety-safe"></div>
    <div class="hurricane-tracker"></div>
    <div class="air-quality-index"></div>
    <div class="air-quality-index"></div>
    <div class="health-activities"></div>
    <div class="sponsored-content"></div>
  </div>
</div>
