<div class="main-container">
  <div class="first-sub-main-container">
    <div class="city box">
      <div class="city-data">
        <div class="city-data-header">
          <h2>Hamedan, Hameadan, Iran</h2>
        </div>
        <div class="city-data-body">
          <h1>25</h1>
          <p>Sunny</p>
          <p>Day32, Night 8</p>
        </div>
        <div class="city-data-footer">
          <h2>Watch: A Break In The Rain For Many</h2>
        </div>
      </div>
    </div>
    <div class="today box"></div>
    <div class="today-forecast box"></div>
    <div class="weather-today box"></div>
    <div class="hourly-forecast box"></div>
    <div class="don't-box"></div>
    <div class="daily-forecast box"></div>
    <div class="radar box"></div>
    <div class="photo-gallery box"></div>
    <div class="recommended box"></div>
  </div>
  <div class="second-sub-main-container">
    <div class="catch-some-color"></div>
    <div class="safety-safe"></div>
    <div class="hurricane-tracker"></div>
    <div class="air-quality-index"></div>
    <div class="air-quality-index"></div>
    <div class="health-activities"></div>
    <div class="sponsored-content"></div>
  </div>
</div>
