nav {
  display: flex;
  flex-flow: row wrap;
  border: 10px solid;
}

.navbar {
  //border: 10px solid red;
}

.logo {
  text-decoration: none;
  color: white;
  transition: 300ms all ease-in-out;
}

.logo-icon {
  font-size: 40px;
}

.logo:hover {
  color: rgba(255, 255, 255, 0.76);
}

.mat-toolbar {
  height: 12vh;
  padding-top: 2px;
  display: flex;
  flex-flow: row wrap;
}

.mat-toolbar > :nth-child(1) {
  flex: 1 0 0;
}

.mat-toolbar > :nth-child(2) {
  flex: 12 0 auto;
}

.mat-toolbar > :nth-child(3) {
  flex: 1 0 0;
}

.mat-form-field {
  overflow: hidden;
  font-size: 15px;
  border-radius: 20px !important;
  text-align: center;
  padding-top: 10px;
}

.mat-form-field {
  max-width: 42vw;

}

.example-full-width {
  width: 100%;
}


:host ::ng-deep {

}

.nav-bar {
  display: flex;
  border: 3px solid;
  background: #0f71a6;

  .logo {
    flex: .5 0 auto;
    border: 2px solid purple;
  }

  .search--box {
    flex: .2 0 120px;
    margin: 20px 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;;

    * {
      border: none;
      outline: none;
      background: rgba(255, 255, 255, 0.32)
    }

    input {
      flex: 12 0 auto;
      min-height: 100%;
      padding: 5px 30px 5px 30px;
      text-align: center;
      font-size: 18px;
      font-family: myFirstFont;
      font-weight: 600;

      input::placeholder {
        color: blue !important;
        opacity: 1; /* Firefox */
      }

    }

    button {
      min-height: 100%;
      flex: 3 0 auto;
      margin-bottom: 1.02px;
      color: #ffffff;

      mat-icon {
        background: rgba(255, 255, 255, 0);
        font-size: 35px;
      }
    }

    mat-autocomplete {
    }

  }

  .more {
    flex: .5 0 auto;
    border: 2px solid pink;
  }
}

@font-face {
  font-family: myFirstFont;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
}
