nav {
  display: flex;
  flex-flow: row wrap;
  border: 10px solid;
}

.navbar {
  //border: 10px solid red;
}

.logo {
  text-decoration: none;
  color: white;
  transition: 300ms all ease-in-out;
}

.logo-icon {
  font-size: 40px;
}

.logo:hover {
  color: rgba(255, 255, 255, 0.76);
}

.mat-toolbar {
  height: 12vh;
  padding-top: 2px;
  display: flex;
  flex-flow: row wrap;
}

.mat-toolbar > :nth-child(1) {
  flex: 1 0 0;
}

.mat-toolbar > :nth-child(2) {
  flex: 12 0 auto;
}

.mat-toolbar > :nth-child(3) {
  flex: 1 0 0;
}

.mat-form-field {
  overflow: hidden;
  font-size: 15px;
  border-radius: 20px !important;
  text-align: center;
  padding-top: 10px;
}

.mat-form-field {
  max-width: 42vw;

}

.example-full-width {
  width: 100%;
}

:host ::ng-deep {

}
