<mat-toolbar class="navbar" color="primary">
  <div>
    <a class="logo" href="">
      <mat-icon class="logo-icon">flood</mat-icon>
    </a>
  </div>
  <!--    <div class="search-box">-->
  <!--      <input  [formControl]="myControl" placeholder="Enter your city name..." type="text">-->
  <!--      <button>-->
  <!--        <mat-icon class="search-icon">search</mat-icon>-->
  <!--      </button>-->
  <!--    </div>-->
  <div class="d-flex justify-content-center align-items-center">

    <div
      style="width: 80%;border: none;background-color: white;height: 48px;border-radius: 12px;padding: 5px;display: flex;justify-content: space-between;align-items: center">
      <input (keyup)="getValue($event)" [matAutocomplete]="auto" id="input"
             matInput placeholder="enter your city"
             style="width: 80%;background-color: white;border: none;outline: none;"
             type="text">
      <button (click)="changeCity()" style="width: 20%;">search</button>
      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption style="width: 100%;">
        <mat-option (click)="dastan(option.name)" *ngFor="let option of options"
                    [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </div>

    <!--<mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Search</mat-label>
      <input (input)="changeCity($event)"
             [matAutocomplete]="auto"
             matInput
             placeholder="enter your city"
             type="text">
      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
        <mat-option (click)="dastan(option.name)" *ngFor="let option of options"
                    [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>-->

  </div>
  <div>
    <button mat-raised-button>Dark Mode</button>
  </div>
</mat-toolbar>
