nav {
  display: flex;
  flex-flow: row wrap;
  border: 10px solid;
}

.navbar {
  //border: 10px solid red;
}

.logo {
  text-decoration: none;
  color: white;
  transition: 300ms all ease-in-out;
}

.logo-icon {
  font-size: 40px;
}

.logo:hover {
  color: rgba(255, 255, 255, 0.76);
}

.mat-toolbar {
  height: 12vh;
  padding-top: 2px;
  display: flex;
  flex-flow: row wrap;
}

.mat-toolbar > :nth-child(1) {
  flex: 1 0 0;
}

.mat-toolbar > :nth-child(2) {
  flex: 12 0 auto;
}

.mat-toolbar > :nth-child(3) {
  flex: 1 0 0;
}

.mat-form-field {
  overflow: hidden;
  font-size: 15px;
  border-radius: 20px !important;
  text-align: center;
  padding-top: 10px;
}

.mat-form-field {
  max-width: 42vw;

}

.example-full-width {
  width: 100%;
}


:host ::ng-deep {

}

.nav-bar {
  display: flex;
  background: #0f71a6;
  padding: 20px 0;

  .logo {
    flex: 1 0 0;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: white;
      font-size: 35px;
      margin-left: 30px;
    }
  }

  .search--box {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    justify-content: center;
    padding: 10px 0;

    .search-box {
      display: flex;
      width: 80%;
      justify-content: center;
      overflow: hidden;
      border-radius: 50px;

      * {
        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, 0.15);
        color: white;
      }

      input {
        width: 90%;
        padding: 10px;
        text-align: center;
      }

      input::placeholder {
        color: white;
        font-size: 20px;
      }

      button {
        width: 10%;
        //padding: 15px;
      }

      mat-icon {
        background-color: rgba(15, 113, 166, 0);
        font-size: 40px;
      }
    }


  }

  .more {
    flex: 1 0 auto;
    display: flex;

    .sub-more {
      flex: 1 0 auto;
      display: flex;
      flex-flow: row;

      * {

        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, 0);
        color: white;
      }

      .sub-more-first-button {
        flex: 1 0 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 20px;

        mat-icon {
          flex: .2 0 auto;
          margin-bottom: 10px;
          font-size: 30px;
        }

        span {
          flex: 0 .2 auto;
          text-align: start;
        }

        :last-child {
          flex: 0.1 0 auto !important;
          text-align: center;
          font-size: 40px;
        }
      }

      .sub-more-second-button {
        flex: .4 0 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 20px;

        .collapse-btn {
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          align-items: center;
          width: 55%;
          height: 70%;
          transition: all .5s ease-in-out;

          * {
            background: white;
            width: 90%;
            height: 15%;
            border-radius: 10px;
            transition: all .5s ease-in-out;
          }

          // Animation
          .burger-open-two {
            transform: translateX(50px) !important;
            background: transparent;
          }

          .burger-open-one {
            transform: rotate(45deg) translate(15px, 12px) !important;
          }

          .burger-open-three {
            transform: rotate(-45deg) translate(12px, -15px);
          }

        }
      }

    }
  }
}

.continent-selector {
  width: 100%;
  position: absolute;
  top: 100px;
  display: flex;
  flex-flow: column;
  background: #ffffff;
  box-shadow: 0 0 20px 0 dimgray;
  //border: 10px solid red;
  transition: all .5s ease-in-out;
  z-index: 1;

  .first-sub-continent {
    display: flex;
    margin: 10px 10px;

    .btn-box {
      border: 1px solid rgba(105, 105, 105, 0.44);
      border-radius: 40px;
      display: flex;

      a {
        text-decoration: none;
        font-size: 18px;
        padding: 10px 35px;
        transition: all .3s ease-in-out;
        border-radius: 40px;
      }

      a:focus-within {
        background-color: #0A58CA;
        color: white;
      }
    }

    .btn-description {
      display: flex;
      align-items: center;
      padding-top: 10px;
      margin: 0 10px;
      color: rgba(105, 105, 105, 0.74);
      font-size: 16px;
    }
  }

  .second-sub-continent {
    display: flex;
    flex-flow: column;
    margin: 10px;

    .continents {
      display: flex;
      flex-flow: column;

      .header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        * {
          padding: 5px 20px;
          font-size: 20px;
          font-weight: bold;
          transition: all .2s ease-in-out;
        }

        mat-icon {
          font-size: 28px;
          font-weight: lighter;
          color: #0A58CA;
        }
      }

      .header:hover {
        * {
          color: #0A58CA;
        }
      }

      .countries {
        display: flex;
        position: relative;
        flex-flow: column;
        padding: 5px 20px;

        a {
          text-decoration: none;
          font-size: 20px;
          color: rgba(0, 0, 0, 0.9);
          padding: 20px 60px;
        }

        a:hover {
          color: #0A58CA;
        }
      }
    }

    .continents:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: rgba(105, 105, 105, 0.24);
    }
  }
}

.more-info {
  width: 100%;
  position: absolute;
  top: 100px;
  display: flex;
  flex-flow: column;
  background: #ffffff;
  box-shadow: 0 0 20px 0 dimgray;
  transition: all .5s ease-in-out;
  z-index: 1;

  .sub-more-info {
    display: flex;
    padding: 20px 200px;

    .sub-more-info-container {
      display: flex;
      flex-flow: column;

      h3 {
        font-size: 20px;
        font-weight: bold;
      }

      a {
        padding: 15px 0;
        font-size: 18px;
        text-decoration: none;
        color: black;
        transition: all .1s ease-in-out;
      }

      a:hover {
        color: #0A58CA;
      }
    }
  }
}
