<div class="box wallpaper">
  <div class="data-container">
    <div *ngIf="!loading" class="condition-icon">
      <img [src]="cityNameForMain?.current?.condition?.icon" alt="">
    </div>
    <div *ngIf="!loading" class="condition-text">
      <h4>{{cityNameForMain?.current?.condition?.text}}</h4>
      <h3>Temperature: {{cityNameForMain?.current?.feelslike_c}}°c</h3>
    </div>
  </div>
  <div class="first-box-background">
    <img alt="" src="assets/5184599_031119-kgo-shutterstock-rain-img.jpg">
  </div>
</div>
<div class="box forecast d-flex flex-column">
  <h3 class="box-header">Today Forecast for {{cityNameForMain?.location.name}}
  </h3>
  <div *ngIf="loading" class="spinner-loading m-auto ">
    <mat-spinner diameter="70"></mat-spinner>
  </div>
  <div *ngIf="!loading" class="d-flex flex-row sub-forecast">
    <div class="sub-forecast-table">
      <div class="sub-table">
        <div class="sub-table-title">
          <mat-icon color="warn">sunny</mat-icon>
          <p>Max Temp:</p>
        </div>
        <div class="sub-table-body">
          <p>{{cityNameForMain?.forecast?.forecastday['0']?.day?.maxtemp_c}}°c</p>
        </div>
      </div>
      <div class="sub-table">
        <div class="sub-table-title">
          <mat-icon>thermostat</mat-icon>
          <p>Avg Temp:</p>
        </div>
        <div class="sub-table-body">
          <p>{{cityNameForMain?.forecast?.forecastday['0']?.day?.avgtemp_c}}°c</p>
        </div>
      </div>
      <div class="sub-table">
        <div class="sub-table-title">
          <mat-icon color="primary">ac_unit</mat-icon>
          <p>Min Temp:</p>
        </div>
        <div class="sub-table-body">
          <p>{{cityNameForMain?.forecast?.forecastday['0']?.day?.mintemp_c}}°c</p>
        </div>
      </div>
      <div class="sub-table">
        <div class="sub-table-title">
          <mat-icon color="primary">water_drop</mat-icon>
          <p>Humidity:</p>
        </div>
        <div class="sub-table-body">
          <p>{{cityNameForMain?.forecast?.forecastday['0']?.day?.avghumidity}}%</p>
        </div>
      </div>
    </div>
    <div class="sub-forecast-table">
      <div class="sub-table">
        <div class="sub-table-title">
          <mat-icon color="warn">wb_twilight</mat-icon>
          <p>Sunrise:</p>
        </div>
        <div class="sub-table-body">
          <p>{{cityNameForMain?.forecast?.forecastday['0']?.astro?.sunrise}}</p>
        </div>
      </div>
      <div class="sub-table">
        <div class="sub-table-title">
          <mat-icon>nightlight_round</mat-icon>
          <p>Moonrise:</p></div>
        <div class="sub-table-body">
          <p>{{cityNameForMain?.forecast?.forecastday['0']?.astro.moonrise}}</p>
        </div>
      </div>
      <div class="sub-table">
        <div class="sub-table-title">
          <mat-icon color="warn">wb_twilight</mat-icon>
          <p>Sunset:</p>
        </div>
        <div class="sub-table-body">
          <p>{{cityNameForMain?.forecast?.forecastday['0']?.astro?.sunset}}</p>
        </div>
      </div>
      <div class="sub-table">
        <div class="sub-table-title">
          <mat-icon>nightlight_round</mat-icon>
          <p>Moonset:</p>
        </div>
        <div class="sub-table-body">
          <p>{{cityNameForMain?.forecast?.forecastday['0']?.astro?.moonset}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box forecast d-flex flex-column">
  <h3>Hourly Forecast for for {{cityNameForMain?.location?.name}}</h3>
  <div *ngIf="loading" class="spinner-loading m-auto">
    <mat-spinner diameter="70"></mat-spinner>
  </div>
  <div *ngIf="!loading" class="hour-forecast">
    <div *ngFor="let hour of hours" class="hour-card">
      <p>{{hour.time}}</p>
      <div class="hour-card-icon">
        <img [src]="hour.condition?.icon" alt="">
      </div>
      <div class="hour-card-temp">
        <h3>{{hour.temp_c}}°c</h3>
      </div>
    </div>
  </div>

</div>
<div class="box forecast d-flex flex-column">
  <h3>Daily Forecast for {{cityNameForMain?.location?.name}}</h3>
  <div *ngIf="loading" class="spinner-loading m-auto ">
    <mat-spinner diameter="70"></mat-spinner>
  </div>
</div>
