.box {
  width: 80%;
  height: 300px;
  margin: 30px auto;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 dimgray;
}

.wallpaper {
  //background: url("../../../assets/5184599_031119-kgo-shutterstock-rain-img.jpg") top/cover;
  overflow: hidden;
  //display: flex;
  justify-content: center;
  align-items: center;

}

.wallpaper > img {

}

.forecast {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap row;
}

.forecast > h3 {
  font-size: 22px;
  margin: 10px 0 0 20px;
  font-weight: 550;
}
