/* You can add global styles to this file, and also import other style files */

@import url(assets/font.scss);

html, body {
  height: 100%
}

body {
}

* {
  font-family: BlinkMacSystemFont !important;
  margin: 0;
  padding: 0;
}

mat-icon {
  font-family: "Material Icons" !important;
}
